<!DOCTYPE html>
<html>
	<head>

		<!-- This sets the language that your characters are in -->
		<meta charset="utf-8">
		<!-- This ensures that your media queries work -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- This is what appears in the tab of your browser page -->
		<title>Vue Dog Breed Quiz App</title>

		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

		<!-- This makes the bootstrap css work -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- This connects my CSS external stylesheet to the index.html -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<div class="container">
			<h1>Guess the dog breed!</h1>
			
			<div class="row">
				<div id="app">

					<ul>
				<!-- This is our template that creates all of the <li>s  			using the imageURLs array under the data property -->
						<li v-for="(image, index) in imageURLs" v-for="answer in answers" class="pics">
						<!-- This binds the src attribute to each instance created -->	
							<img :src="image" class="img-responsive col-6">
							<div class="answer col-6">
							<!-- This binds a numbered answer id to each instance created depending on which iteration through the v-for loop it is -->	
								<h2 v-bind:id="'answer' + index">Answer:</h2>
							<!-- This binds a numbered input id to each instance created depending on which iteration throught eh v-for loop it is -->
								<input v-bind:id="'input' + index" type="text" placeholder="Enter the breed">
							</div>
						</li>
					</ul>
				
					<div id="results">
						<!-- This binds the click event to the calulate method in the Vue instance -->
						<button v-on:click="calculate">Submit Answers</button>
						<!-- These update the correct & incorrect variable values once the calculate method runs -->
						<h3 id="correct">Correct: {{ correct }}</h3>
						<h3 id="incorrect">Incorrect: {{ incorrect }}</h3>
					</div>				
				</div>
			</div>

		</div>


		<!-- This connects the VueJS framework -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

		<!-- This connects my JS external file to the index.html -->
		<script src="js/main.js" type="text/javascript"></script>

	</body>
</html>